:root {
    font-family: 'Poppins', sans-serif;

    /*Color Section*/
    --main-purple-color: #675AFE;
    --main-white-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--main-purple-color);
}
.wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background: var(--main-white-color);
}
.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form {
    margin: 40px 0 20px 0;
}
form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form p {
    font-size: 18px;
    margin-bottom: 5px;
}
form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}
form input:focus { /*:focus CSS pseudo-class represents an element (such as a form input) that has received focus. 
    It is generally triggered when the user clicks or taps on an element or selects it with the keyboard's Tab key*/
    padding: 0 14px;
    border: 2px solid var(--main-purple-color); 
}
form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box {
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
.select-box select {
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box img {
    max-width: 25px;
}
.drop-list .icon {
    font-size: 22px;
    cursor: pointer;
    margin-top: 30px;
}
form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
    justify-content: center;
    text-align: center;
}
form button {
    height: 52px;
    color: var(--main-white-color);
    font-size: 17px;
    cursor: pointer;
    background: var(--main-purple-color);
}
form p {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    padding: 6px;
}